.preferential-section {
    height: 600px;
    width: 1500px;
    background-image: url('../Art/parallax-light.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    
  }

  
  h1{
    color: white;
    font-size: xx-large;
    margin-left: 190px;
    font-weight: 3000;
    
  }

.fig :last-child{
    margin-left: -300px;
    align-items: center;
    justify-content: center;
    padding-left: +50px;
    margin-top: +200px;
    
}
